<!DOCTYPE html>
<html lang="en">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" rel="stylesheet">



<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='fileHandling.js') }}"></script>


<head>
  <meta charset="UTF-8">
  <title>File Test</title>

</head>

<body style="background-color:rgb(10, 154, 250)">

  <script type="text/javascript" src="{{ url_for('static', filename='add-remove-jquery.js') }}"></script>

  <form action="{{ url_for('index') }}" enctype="multipart/form-data" method="POST">
    <br><br>
    <div class="wrapper">
      <input name="file" style="margin-left:42%;" type="file" class="custom-file-input">
      <!-- <label for="file">Choose a file</label> -->
      <br>
      <input type="submit" value="Upload">
    </div>

  </form>

  {% if display %}


  <table id="thetable">

    <thead>
      <tr>
        {% for header in columnHeader %}
        <th>{{ header }}</th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for e in evaluation %}

      <tr>

        {% set category = e[0] %}
        {% set polarity = e[1] %}
        {% set rev_id = e[2] %}
        {% set text = e[3] %}

        <td id="revid" style="width:10%;">{{rev_id}}</td>
        <td id="textid">{{text}}</td>

        <td id="catid">

          <select id="catselect" name="category">
            <option selected="selected" value="">Choose Category</option>
            {% for categories in catlist %}
            {% if categories == category %}
            <option selected="selected" value="{{ category }}">{{ categories }}</option>
            {% else %}
            <option value="{{ categories }}">{{ categories }}</option>
            {% endif %}
            {% endfor %}
          </select>

        </td>


        <td id="polid">
          <select id="polselect" name="polarity">
            <!-- {% if polarity == "positive" %}
            <option value="">Choose Polarity</option>
            <option selected="selected" value="positive">Positive</option>
            <option value="negative">Negative</option>
            {% elif polarity == "negative" %}
            <option value="">Choose Polarity</option>
            <option value="positive">Positive</option>
            <option selected="selected" value="negative">Negative</option>
            {% else %}
            <option selected="selected" value="">Choose Polarity</option>
            <option value="positive">Positive</option>
            <option value="negative">Negative</option>
            {% endif %} -->
            <option value="">Choose Polarity</option>
            {% for polarities in polList %}
            {% if polarities == polarity %}
            <option selected="selected" value="{{ polarity }}">{{ polarity }}</option>
            {% else %}
            <option value="{{ polarity }}">{{ polarity }}
            {% endif %}
            {% endfor %}
            </option>
          </select>

        <td>
          <button class="addRow" type="button"> Add Row</button>
          <button class="remove" type="button"> Remove Row</button>
        </td>


      </tr>

      {% endfor %}
    </tbody>
  </table>

  
  <div class="wrapper">
    <button class="button" id="export" onclick="exportTableToCSV('{{ filename }}')" type="button"><span>Export to CSV </span></button>
  </div>


  {% endif %}
</body>


</html>